/*Body*/

body{
    margin:0;
    padding: 0;
}

a{
    text-decoration: none;
}

/***************slider categorie***************/

.slider{
    margin: 2em 0;
    color: white;
}

.header-card{
    width: 45%;
    margin-left: 10em;
    height: 20em;
    padding: 0;
    background-size: cover !important;
}

.card-overlay {
    width: 100%;
    height: 100%;
    background: rgba(255,0,0,0.3);
    margin: 0;
}

/* Header Image */

.header-img-1{
    background: url('../images/image_ (1).jpg');
}

.header-img-2{
    background: url('../images/image_ (2).jpg');
}

.header-img-3{
    background: url('../images/image_ (3).jpg');
}

.header-img-4{
    background: url('../images/image_ (4).jpg');
}

/***************Discover***************/

.btn-discover{
    width: 15%;
    background-color: #106CA4;
    border: none;
    padding: 2% 10%;
    text-align: center;
    font-size: 0.9em;
    cursor: pointer;
    margin: 18% auto;
  
}

